<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit User</title>
  <meta charset="UTF-8">
</head>
<body>
<h1>Edit User</h1>
<form id="editUserForm">
  <input type="hidden" id="userId" th:value="${user.id}">
  <label>First Name: <input type="text" id="firstName" th:value="${user.firstName}" ></label><br/>
  <label>Second Name: <input type="text" id="secondName" th:value="${user.secondName}" ></label><br/>
  <label>Age: <input type="number" id="age" th:value="${user.age}" ></label><br/>
  <label>Phone Number: <input type="text" id="phoneNumber" th:value="${user.phoneNumber}"></label><br/>
  <button type="submit">Update</button>
</form>
<a href="/">Back to list</a>

<script>
  document.getElementById('editUserForm').addEventListener('submit', function (e) {
    e.preventDefault();
    const userId = document.getElementById('userId').value;
    const user = {
      firstName: document.getElementById('firstName').value,
      secondName: document.getElementById('secondName').value,
      age: parseInt(document.getElementById('age').value),
      phoneNumber: parseInt(document.getElementById('phoneNumber').value)
    };

    fetch(`/update_user?id=${userId}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(user)
    }).then(() => {
      window.location.href = '/';
    });
  });
</script>
</body>
</html>

